/* src/components/Sidebar/Sidebar.css */

.app-sidebar {
    width: 300px; /* Largura fixa para o sidebar */
    background-color: #34495e; /* Cor de fundo mais escura */
    color: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Permite rolar se a lista for longa */
    height: calc(100vh - 120px); /* Ajusta a altura considerando o header */
    position: sticky;
    top: 120px; /* Fixa abaixo do header, que agora é maior */
    display: flex;
    flex-direction: column;
}

.sidebar-empty-message {
    padding: 20px;
    text-align: center;
    color: #a0a0a0;
    font-style: italic;
    flex-grow: 1; /* Para centralizar verticalmente em caso de lista vazia */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsividade */
@media (max-width: 1023px) {
    .app-sidebar {
        width: 100%; /* Ocupa toda a largura em mobile */
        height: auto; /* Altura flexível */
        position: fixed; /* Fixa em mobile para o toggle */
        left: 0;
        top: 120px; /* Ajusta para ficar abaixo do cabeçalho */
        bottom: 0;
        z-index: 999; /* Garante que fique por cima de outros elementos */
        transform: translateX(-100%); /* Esconde a sidebar por padrão */
        transition: transform 0.3s ease-in-out; /* Adiciona transição suave */
    }

    .app-sidebar.is-open {
        transform: translateX(0); /* Mostra a sidebar quando aberta */
    }
}